<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">


<body>
<form method="post" action="/members/memberList">
<div class="container">

    <div>
        <table border="10">
            <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
<!--                <th>수정할 이름</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}" typeof="text"></td>
                <!--<td th:text="${member.name}" onclick="update()" th:name="${member.name}" ></td>-->
                <td th:text="${member.name}"></td>
                <!--<th><button th:id= "${member.name}" onclick="update(id)">수정</button></th>
                <th><button th:id= "${member.id}" onclick="del(id)">삭제</button></th>-->
                <!--<td th:text="${member.name}" typeof="text"></td>-->
                <!--<td> <input type="text" id="name" name="name" placeholder="수정할 이름을 입력하세요"> </td>-->
           </tr>
            </tbody>
        </table>


    </div>

<div>
    <input type="text" id="id" name="id" placeholder="삭제할 아이디를 입력하세요">
    <button type="submit">삭제</button>
</div>





</div>
</form>
</body>
<!--<script>

    function update(id){
        alert("진입확인"+id);
    return;
        $.ajax({
            url : "update",
            type : 'post',
            data : {
                name : id
            },
            success : function(data) {
                alert("수정 완료하였습니다.");
                location.href='/members'
            },
            error : function() {
                alert("error");
            }
        });


    }

    function del(id) {

        alert("진입확인"+id);
        $.ajax({
            url : "test",
            type: "POST",
            contentType: 'application/json',
            dataType:'json',
            data : {
                id : id
            },
            success : function(data) {
                alert("삭제 완료하였습니다.");
                location.href='/'
            },
            error : function() {
                alert("error");
            }
        });



    }

</script>-->

</html>