<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/basic">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<head>
</head>
<body>
<form method="post" action="/members/memberList" name="testForm" onSubmit="return false;">

    <div class="container">

        <div class="table-responsive clearfix">
            <!--        <select id="dataPerPage">
                        <option value="10">10개씩보기</option>
                        <option value="15">15개씩보기</option>
                        <option value="20">20개씩보기</option>
                    </select>-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="boardList : ${boardList}" >
                    <input th:type="hidden" id ="boardId" name="boardId" th:value="${boardList.id}">
                    <td th:text="${boardList.title}" onclick="updatewriting()"></td>
                    <td th:text="${boardList.writer}"></td>
                    <td th:text="${boardList.content}"></td>
                    <td th:text="${boardList.insertTime}"></td>
                </tr>
                </tbody>
            </table>
        <div layout:fragment="fragments/common.html">

        </div>
            <th:block layout:fragment="paging">
                <nav th:replace="members/fragments/common :: pagination"></nav>
            </th:block>

<!--            <div id="contents">test</div>-->
            <button style="z-index: 3; color: #fff; cursor: default; background-color: #304ffe; border-color: #304ffe; float: left;"><a href="new">글쓰기</a></button>
        </div>

<!--        <div>
            <input type="text" id="id" name="id" placeholder="삭제할 아이디를 입력하세요">
            <button onclick="deleteClick()">삭제</button>
        </div>-->
        <div>
            <button><a href="/">홈으로</a></button>
            <button><a href="/members/new">글쓰기</a></button>
        </div>

    </div>
</form>
</body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>-->
<script type="text/javascript" src="/js/list.js"></script>

<!--<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }

        /*]]>*/
    </script>
</th:block>-->

</html>