<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
    <form action="/members/update" name = "changeUpdate" method="post" onSubmit="return false;">

        <h1 th:text="${name}"></h1>
        <div class="form-group">
            <input id="name" name = "name" type="text" th:value="${name}" readonly></br>
            <input id="changeName" name = "changeName" type="text" placeholder="수정할 이름을 입력하세요">
        </div>
        <button onclick="updateFc()">수정</button>
        <!--<button type="button" class="updateGo" >수정</button>-->
    </form>
</div> <!--/container-->
<div>
    <button><a href="/">홈으로</a></button>
</div>

</body>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

    var submit = true;
    function updateFc(){
        console.log("진입확인");

        let checkId = document.getElementById("changeName").value.replace(/(\s*)/g, ""); //전체공백제거
        let test2 = document.getElementById("changeName").value.trim(); //앞뒤 공백 제거

        document.getElementById("changeName").value = checkId;
        if(!document.getElementById("changeName").value.replace(/(\s*)/g, "")){
            alert("변경할 이름을 확인하세요");
            document.getElementById("changeName").focus();

        }else{
            if(!textCheck(checkId)){
                alert("특수문자는 입력이 불가합니다.");
            }else{
                document.changeUpdate.submit();
            }
        }
    }

    function textCheck(str){
        var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi
        //특수문자 검증
        if(reg.test(str)){
            return false;
        }else{
            return true;
        }
    }

</script>
</html>