<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
    <form action="/members/update" method="post">

        <h1 th:text="${name}"></h1>
        <div class="form-group">
            <input id="name" name = "name" type="text" th:value="${name}" readonly></br>
            <input id="changeName" name = "changeName" type="text" placeholder="수정할 이름을 입력하세요">
        </div>
        <button type="submit">수정</button>


    </form>
</div> <!--/container-->

<script>

</script>
</body>
</html>