.writeTable{ border: 1px solid #444444;}

th, td {
    border: 1px solid #444444;
}

.cate_regi_btns { font-size:0; margin-top:20px; text-align:left; }
.cate_regi_btns a { display:inline-block; font-size:14px; font-weight:700; height:34px; line-height:32px; margin-left:4px; text-align:center; vertical-align:top; width:90px; }
.cate_regi_btns a.cancel { background:#fff; border:1px solid #bad1fd; color:#005dc5; }
.cate_regi_btns a.regist { background:#005dc5; border:1px solid #005dc5; color:#fff; }
.cate_regi_btns a.go_back { width:120px; }