<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="MemberDao">

            <select id="findAllList" resultType="hello.hellospring.vo.MemberVo" >
                SELECT ID,NAME FROM test_schema.test_table
                /*SELECT ENGINE FROM ENGINES*/
            </select>

        <select id="searchName" resultType="hello.hellospring.vo.MemberVo" >
            <![CDATA[
                SELECT ID,NAME FROM test_schema.test_table WHERE NAME = #{name}
            ]]>
            /*SELECT ENGINE FROM ENGINES*/
        </select>

    <delete id="deleteId" >
 <![CDATA[
        DELETE FROM test_schema.test_table WHERE ID = #{id}
        ]]>
    </delete>

    <insert id="insertName" >
        <![CDATA[
        INSERT INTO test_schema.test_table (NAME) VALUES (#{name})
        ]]>
    </insert>

    <update id="updateName" parameterType="hashMap">

        UPDATE test_schema.test_table
        SET NAME = #{changeName}
        WHERE NAME = #{name}

    </update>

        </mapper>