<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="MemberDao">

            <select id="findAllList" parameterType="hello.hellospring.vo.MemberVo" resultType="hello.hellospring.vo.MemberVo" >
                SELECT BOARDID
                       ,TITLE
                       ,CONTENT
                       ,writer
                       ,DATE_FORMAT(insertTime,'%Y-%m-%d %H:%i:%s') insertTime
                       ,DATE_FORMAT(deleteTime,'%Y-%m-%d') deleteTime
                FROM test_schema.test_table
                LIMIT #{paginationInfo.firstRecordIndex}, #{recordsPerPage}

            </select>

<!--        <select id="findAllListCount" parameterType="Criteria" resultType="int">
            SELECT
                COUNT(*) CNT
            FROM
                test_schema.test_table
        </select>-->

        <select id="searchName" resultType="hello.hellospring.vo.MemberVo" >
            <![CDATA[
                SELECT BOARDID,NAME FROM test_schema.test_table WHERE NAME = #{name}
            ]]>
            /*SELECT ENGINE FROM ENGINES*/
        </select>

    <delete id="deleteId" >
 <![CDATA[
        DELETE FROM test_schema.test_table WHERE ID = #{id}
        ]]>
    </delete>

    <insert id="insertName" >

        INSERT INTO test_schema.test_table (NAME) VALUES (#{name})

    </insert>

    <update id="updateName" parameterType="hashMap">

        UPDATE test_schema.test_table
        SET NAME = #{changeName}
        WHERE NAME = #{name}

    </update>
    <select id="findAllListCount"   resultType="int">
        SELECT
            COUNT(*) cnt
        FROM
            test_schema.test_table
    </select>

    <!--writeSave-->
    <insert id="writeSave" parameterType="hashMap">
        INSERT INTO test_schema.test_table (title,writer,content,insertTime) VALUES (#{title},#{writer},#{content},current_timestamp)
    </insert>

    <!--상세보기-->
    <select id="writeView" parameterType="hashMap" resultType="hashMap">
        SELECT
            BOARDID
             ,TITLE
             ,CONTENT
             ,writer
             ,DATE_FORMAT(insertTime,'%Y-%m-%d %H:%i:%s') insertTime
             ,DATE_FORMAT(deleteTime,'%Y-%m-%d') deleteTime
        FROM
            test_schema.test_table
        WHERE
            ID = #{id}
    </select>

    <select id="testList" parameterType="hello.hellospring.vo.MemberVo" resultType="hello.hellospring.vo.MemberVo" >
        SELECT BOARDID
             ,TITLE
             ,CONTENT
             ,writer
             ,DATE_FORMAT(insertTime,'%Y-%m-%d %H:%i:%s') insertTime
             ,DATE_FORMAT(deleteTime,'%Y-%m-%d') deleteTime
        FROM test_schema.test_table
                 LIMIT #{paginationInfo.firstRecordIndex}, #{recordsPerPage}

    </select>





        </mapper>

